In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
DataFrame = pd.read_csv("weather_data.csv")
Data = pd.read_csv("price_demand_data.csv")
DataFrame

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31.0,13:14,19.2,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30.0,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7.0,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33.0,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4.0,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41.0,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8.0,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35.0,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8.0,SSE,19,1013.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,27/08/2021,4.6,13.6,0.0,1.2,3.8,SSW,15.0,12:18,7.7,...,7,,Calm,1020.0,12.8,65,7.0,SSE,7,1017.4
239,28/08/2021,5.3,17.8,0.0,1.6,9.6,N,39.0,13:14,9.1,...,1,N,7,1018.6,17.4,31,3.0,NNW,24,1013.5
240,29/08/2021,9.1,16.2,0.6,6.4,4.3,NNE,33.0,1:50,10.6,...,7,N,13,1011.4,12.8,84,7.0,S,6,1010.4
241,30/08/2021,6.4,17.6,4.0,1.4,7.4,NNW,50.0,14:04,11.1,...,7,N,15,1016.1,16.8,45,1.0,NNW,28,1013.2
242,31/08/2021,11.0,20.1,0.0,5.8,3.6,N,61.0,16:29,13.5,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2

In [56]:
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               243 non-null    object
 1   Minimum temperature (°C)           242 non-null    float64
 2   Maximum temperature (°C)           242 non-null    float64
 3   Rainfall (mm)                      241 non-null    float64
 4   Evaporation (mm)                   243 non-null    float64
 5   Sunshine (hours)                   243 non-null    float64
 6   Direction of maximum wind gust     240 non-null    object
 7   Speed of maximum wind gust (km/h)  240 non-null    float64
 8   Time of maximum wind gust          240 non-null    object
 9   9am Temperature (°C)               242 non-null    float64
 10  9am relative humidity (%)          242 non-null    float64
 11  9am cloud amount (oktas)           243 non-null    int64
 12  9am wind direction                 242 non-null    object
 13  9am wind speed (km/h)              242 non-null    object
 14  9am MSL pressure (hPa)             241 non-null    float64
 15  3pm Temperature (°C)               243 non-null    float64
 16  3pm relative humidity (%)          243 non-null    int64
 17  3pm cloud amount (oktas)           242 non-null    float64
 18  3pm wind direction                 243 non-null    object
 19  3pm wind speed (km/h)              243 non-null    object
 20  3pm MSL pressure (hPa)             242 non-null    float64
dtypes: float64(12), int64(2), object(7)
memory usage: 40.0+ KB

In [57]:
# change the Date column into date time type
DataFrame["Date"]= pd.to_datetime(DataFrame["Date"])
DataFrame["Date"]

0     2021-01-01
1     2021-02-01
2     2021-03-01
3     2021-04-01
4     2021-05-01
         ...
238   2021-08-27
239   2021-08-28
240   2021-08-29
241   2021-08-30
242   2021-08-31
Name: Date, Length: 243, dtype: datetime64[ns]

In [64]:
# /the date type has been changed to date time format 
DataFrame["Date"]=DataFrame["Date"]= pd.to_datetime(DataFrame["Date"])
DataFrame["Date"]

0     2021-01-01
1     2021-02-01
2     2021-03-01
3     2021-04-01
4     2021-05-01
         ...
238   2021-08-27
239   2021-08-28
240   2021-08-29
241   2021-08-30
242   2021-08-31
Name: Date, Length: 243, dtype: datetime64[ns]

In [96]:
DataFrame

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,2021-01-01,15.6,29.9,0.0,2.8,9.3,NNE,31.0,13:14,19.2,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,2021-02-01,18.4,29.0,0.0,9.4,1.3,NNW,30.0,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7.0,SW,4,1008.5
2,2021-03-01,17.0,26.2,12.6,4.8,7.1,WSW,33.0,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4.0,SSW,2,1005.2
3,2021-04-01,16.0,18.6,2.6,3.8,0.0,SSE,41.0,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8.0,SSW,17,1011.0
4,2021-05-01,15.9,19.1,11.2,1.0,0.0,SSE,35.0,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8.0,SSE,19,1013.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,2021-08-27,4.6,13.6,0.0,1.2,3.8,SSW,15.0,12:18,7.7,...,7,,Calm,1020.0,12.8,65,7.0,SSE,7,1017.4
239,2021-08-28,5.3,17.8,0.0,1.6,9.6,N,39.0,13:14,9.1,...,1,N,7,1018.6,17.4,31,3.0,NNW,24,1013.5
240,2021-08-29,9.1,16.2,0.6,6.4,4.3,NNE,33.0,1:50,10.6,...,7,N,13,1011.4,12.8,84,7.0,S,6,1010.4
241,2021-08-30,6.4,17.6,4.0,1.4,7.4,NNW,50.0,14:04,11.1,...,7,N,15,1016.1,16.8,45,1.0,NNW,28,1013.2
242,2021-08-31,11.0,20.1,0.0,5.8,3.6,N,61.0,16:29,13.5,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2

In [5]:
Data

      REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0       VIC1    1/01/2021 0:30      4179.21           LOW
1       VIC1    1/01/2021 1:00      4047.76           LOW
2       VIC1    1/01/2021 1:30      3934.70           LOW
3       VIC1    1/01/2021 2:00      3766.45           LOW
4       VIC1    1/01/2021 2:30      3590.37           LOW
...      ...               ...          ...           ...
11659   VIC1  31/08/2021 22:00      4861.91        MEDIUM
11660   VIC1  31/08/2021 22:30      4748.74        MEDIUM
11661   VIC1  31/08/2021 23:00      4620.09        MEDIUM
11662   VIC1  31/08/2021 23:30      4834.00        MEDIUM
11663   VIC1    1/09/2021 0:00      4811.27        MEDIUM

[11664 rows x 4 columns]

In [42]:
# Check the data type in all the column
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11664 entries, 0 to 11663
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REGION          11664 non-null  object
 1   SETTLEMENTDATE  11664 non-null  object
 2   TOTALDEMAND     11664 non-null  float64
 3   PRICECATEGORY   11664 non-null  object
dtypes: float64(1), object(3)
memory usage: 364.6+ KB

In [44]:
# We need to extract the dates from /date_time data, for that we convert the column type to datetime format instead of object type
Data["SETTLEMENTDATE"]= pd.to_datetime(Data["SETTLEMENTDATE"])
Data["SETTLEMENTDATE"]

0       2021-01-01 00:30:00
1       2021-01-01 01:00:00
2       2021-01-01 01:30:00
3       2021-01-01 02:00:00
4       2021-01-01 02:30:00
                ...
11659   2021-08-31 22:00:00
11660   2021-08-31 22:30:00
11661   2021-08-31 23:00:00
11662   2021-08-31 23:30:00
11663   2021-01-09 00:00:00
Name: SETTLEMENTDATE, Length: 11664, dtype: datetime64[ns]

In [48]:
Data["SETTLEMENTDATE"].dt.date

0        2021-01-01
1        2021-01-01
2        2021-01-01
3        2021-01-01
4        2021-01-01
            ...
11659    2021-08-31
11660    2021-08-31
11661    2021-08-31
11662    2021-08-31
11663    2021-01-09
Name: SETTLEMENTDATE, Length: 11664, dtype: object

In [83]:
Data["SETTLEMENTDATE"] = Data["SETTLEMENTDATE"].dt.date

In [86]:
Data

               REGION SETTLEMENTDATE TOTALDEMAND PRICECATEGORY
0                VIC1     2021-01-01     4179.21           LOW
1                VIC1     2021-02-01     4047.76           LOW
2                VIC1     2021-03-01      3934.7           LOW
3                VIC1     2021-04-01     3766.45           LOW
4                VIC1     2021-05-01     3590.37           LOW
...               ...            ...         ...           ...
11660            VIC1            NaT     4748.74        MEDIUM
11661            VIC1            NaT     4620.09        MEDIUM
11662            VIC1            NaT        4834        MEDIUM
11663            VIC1            NaT     4811.27        MEDIUM
SETTLEMENTDATE    NaT            NaT         NaT           NaT

[11665 rows x 4 columns]

In [78]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11665 entries, 0 to SETTLEMENTDATE
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REGION          11664 non-null  object
 1   SETTLEMENTDATE  243 non-null    datetime64[ns]
 2   TOTALDEMAND     11664 non-null  object
 3   PRICECATEGORY   11664 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 775.7+ KB

In [54]:
#Now make them as groups and find the median value
Data.groupby("SETTLEMENTDATE").median()

                TOTALDEMAND
SETTLEMENTDATE
2021-01-01         3766.450
2021-01-02         4771.600
2021-01-03         4425.740
2021-01-04         4660.755
2021-01-05         4232.215
...                     ...
2021-12-04         5145.220
2021-12-05         4882.520
2021-12-06         4811.000
2021-12-07         5490.590
2021-12-08         5114.745

[244 rows x 1 columns]

In [ ]:
# merge both tables by date field

In [110]:
# Now try to find non matching rows by using exact match, then clean the non matching values.

In [94]:
Data.combine_first(DataFrame).head(245)

,3pm MSL pressure (hPa),3pm Temperature (°C),3pm cloud amount (oktas),3pm relative humidity (%),3pm wind direction,3pm wind speed (km/h),9am MSL pressure (hPa),9am Temperature (°C),9am cloud amount (oktas),9am relative humidity (%),...,Maximum temperature (°C),Minimum temperature (°C),PRICECATEGORY,REGION,Rainfall (mm),SETTLEMENTDATE,Speed of maximum wind gust (km/h),Sunshine (hours),TOTALDEMAND,Time of maximum wind gust
0,1015.3,28.1,5.0,43.0,E,13,1018.8,19.2,6.0,77.0,...,29.9,15.6,LOW,VIC1,0.0,2021-01-01,31.0,9.3,4179.21,13:14
1,1008.5,28.7,7.0,38.0,SW,4,1013.3,23.3,7.0,52.0,...,29.0,18.4,LOW,VIC1,0.0,2021-02-01,30.0,1.3,4047.76,8:22
2,1005.2,23.5,4.0,59.0,SSW,2,1007.7,18.3,8.0,100.0,...,26.2,17.0,LOW,VIC1,12.6,2021-03-01,33.0,7.1,3934.7,17:55
3,1011.0,18.2,8.0,82.0,SSW,17,1010.0,16.2,8.0,98.0,...,18.6,16.0,LOW,VIC1,2.6,2021-04-01,41.0,0.0,3766.45,16:03
4,1013.3,18.2,8.0,82.0,SSE,19,1012.5,17.2,8.0,96.0,...,19.1,15.9,LOW,VIC1,11.2,2021-05-01,35.0,0.0,3590.37,11:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,1010.4,12.8,7.0,84.0,S,6,1011.4,10.6,7.0,79.0,...,16.2,9.1,LOW,VIC1,0.6,2021-08-29,33.0,4.3,4172.61,1:50
241,1013.2,16.8,1.0,45.0,NNW,28,1016.1,11.1,7.0,70.0,...,17.6,6.4,LOW,VIC1,4.0,2021-08-30,50.0,7.4,4042.4,14:04
242,1012.2,19.4,6.0,43.0,N,30,NaN,13.5,7.0,53.0,...,20.1,11.0,LOW,VIC1,0.0,2021-08-31,61.0,3.6,3933.45,16:29
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,LOW,VIC1,NaN,NaT,NaN,NaN,3758.25,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,LOW,VIC1,NaN,NaT,NaN,NaN,3667.78,NaN